{
  "extends": ["@astriel-division/eslint-config"],
  "parserOptions": {
    "project": "./src/tsconfig.json"
  },
  "rules": {
    "default-case": "off",
    "no-unused-vars": "off",
    "no-invalid-this": "off",
    "@typescript-eslint/no-invalid-this": "off"
  }
}
